In [17]:
import pandas as pd

In [18]:
l_stop_df=pd.read_csv("Database/CTA_list_of_L_stops.csv")
l_stop_df

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,30105,N,Wilson (Howard-bound),Wilson,Wilson (Red & Purple Lines),40540,True,True,False,False,False,False,False,False,False,False,"(41.964273, -87.657588)"
296,30239,N,Addison (O'Hare-bound),Addison,Addison (Blue Line),41240,True,False,True,False,False,False,False,False,False,False,"(41.94738, -87.71906)"
297,30106,S,Wilson (95th-bound),Wilson,Wilson (Red & Purple Lines),40540,True,True,False,False,False,False,False,False,False,False,"(41.964273, -87.657588)"
298,30383,N,Washington/Wabash (Outer Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",41700,True,False,False,True,True,False,False,False,False,False,"(41.88322, -87.626189)"
299,30385,S,Wilson (Loop-bound),Wilson,Wilson (Red & Purple Lines),40540,True,False,False,False,False,False,True,False,False,False,"(41.964273, -87.657588)"

In [19]:
ridership_df=pd.read_csv("Database/CTA_ridership_daily_totals.csv")
ridership_df

        station_id             stationname        date daytype  rides
0            40050                   Davis    1/1/2016       U   1415
1            41200                  Argyle    1/1/2016       U   1741
2            40970      Cicero-Forest Park    1/1/2016       U    722
3            40490         Grand/Milwaukee    1/1/2016       U   1700
4            41130          Halsted-Orange    1/1/2016       U    764
...            ...                     ...         ...     ...    ...
258104       41660              Lake/State  11/30/2020       W   2945
258105       41670            Conservatory  11/30/2020       W    412
258106       41680           Oakton-Skokie  11/30/2020       W    191
258107       41690  Cermak-McCormick Place  11/30/2020       W    373
258108       41700       Washington/Wabash  11/30/2020       W   2041

[258109 rows x 5 columns]

In [20]:
l_stop_df['MAP_ID'].nunique()

143

In [21]:
station_bools = l_stop_df[['MAP_ID','ADA','RED','BLUE','G','BRN','P','Pexp','Y','Pnk','O']].groupby('MAP_ID').any()
l_stations_df = l_stops_df[['MAP_ID','STATION_NAME','STATION_DESCRIPTIVE_NAME','Location']] \
    .merge(station_bools, how='left', left_on='MAP_ID', right_index=True).drop_duplicates()
l_stations_df

,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,Location,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O
0,40830,18th,18th (Pink Line),"(41.857908, -87.669147)",True,False,False,False,False,False,False,False,True,False
2,40120,35th/Archer,35th/Archer (Orange Line),"(41.829353, -87.680622)",True,False,False,False,False,False,False,False,False,True
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),"(41.831677, -87.625826)",True,False,False,True,False,False,False,False,False,False
6,41270,43rd,43rd (Green Line),"(41.816462, -87.619021)",True,False,False,True,False,False,False,False,False,False
8,40130,51st,51st (Green Line),"(41.80209, -87.618487)",True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,40220,Western,Western (Blue Line - Forest Park Branch),"(41.875478, -87.688436)",False,False,True,False,False,False,False,False,False,False
289,41690,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),"(41.853115, -87.626402)",True,False,False,True,False,False,False,False,False,False
291,40540,Wilson,Wilson (Red & Purple Lines),"(41.964273, -87.657588)",True,True,False,False,False,False,True,False,False,False
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",True,False,False,True,True,False,True,False,True,True
293,41240,Addison,Addison (Blue Line),"(41.94738, -87.71906)",True,False,True,False,False,False,False,False,False,False

In [23]:
l_stations_df[['latitude','longitude']] = l_stations_df['Location'].str.replace('\(|\)','', regex=True).str.split(',',expand=True).apply(pd.to_numeric)
l_stations_df

,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,Location,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,40830,18th,18th (Pink Line),"(41.857908, -87.669147)",True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
2,40120,35th/Archer,35th/Archer (Orange Line),"(41.829353, -87.680622)",True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
4,41120,35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),"(41.831677, -87.625826)",True,False,False,True,False,False,False,False,False,False,41.831677,-87.625826
6,41270,43rd,43rd (Green Line),"(41.816462, -87.619021)",True,False,False,True,False,False,False,False,False,False,41.816462,-87.619021
8,40130,51st,51st (Green Line),"(41.80209, -87.618487)",True,False,False,True,False,False,False,False,False,False,41.802090,-87.618487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,40220,Western,Western (Blue Line - Forest Park Branch),"(41.875478, -87.688436)",False,False,True,False,False,False,False,False,False,False,41.875478,-87.688436
289,41690,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),"(41.853115, -87.626402)",True,False,False,True,False,False,False,False,False,False,41.853115,-87.626402
291,40540,Wilson,Wilson (Red & Purple Lines),"(41.964273, -87.657588)",True,True,False,False,False,False,True,False,False,False,41.964273,-87.657588
292,41700,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",True,False,False,True,True,False,True,False,True,True,41.883220,-87.626189
293,41240,Addison,Addison (Blue Line),"(41.94738, -87.71906)",True,False,True,False,False,False,False,False,False,False,41.947380,-87.719060

In [25]:

df = pd.merge(ridership_df, l_stations_df, how='left', left_on='station_id', right_on='MAP_ID')
df

,station_id,stationname,date,daytype,rides,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,Location,ADA,...,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
0,40050,Davis,1/1/2016,U,1415,40050.0,Davis,Davis (Purple Line),"(42.04771, -87.683543)",True,...,False,False,False,True,True,False,False,False,42.047710,-87.683543
1,41200,Argyle,1/1/2016,U,1741,41200.0,Argyle,Argyle (Red Line),"(41.973453, -87.65853)",False,...,False,False,False,False,False,False,False,False,41.973453,-87.658530
2,40970,Cicero-Forest Park,1/1/2016,U,722,40970.0,Cicero,Cicero (Blue Line),"(41.871574, -87.745154)",False,...,True,False,False,False,False,False,False,False,41.871574,-87.745154
3,40490,Grand/Milwaukee,1/1/2016,U,1700,40490.0,Grand,Grand (Blue Line),"(41.891189, -87.647578)",False,...,True,False,False,False,False,False,False,False,41.891189,-87.647578
4,41130,Halsted-Orange,1/1/2016,U,764,41130.0,Halsted,Halsted (Orange Line),"(41.84678, -87.648088)",True,...,False,False,False,False,False,False,False,True,41.846780,-87.648088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258104,41660,Lake/State,11/30/2020,W,2945,41660.0,Lake,Lake (Red Line),"(41.884809, -87.627813)",True,...,False,False,False,False,False,False,False,False,41.884809,-87.627813
258105,41670,Conservatory,11/30/2020,W,412,41670.0,Conservatory,Conservatory (Green Line),"(41.884904, -87.716523)",True,...,False,True,False,False,False,False,False,False,41.884904,-87.716523
258106,41680,Oakton-Skokie,11/30/2020,W,191,41680.0,Oakton-Skokie,Oakton-Skokie (Yellow Line),"(42.02624348, -87.74722084)",True,...,False,False,False,False,False,True,False,False,42.026243,-87.747221
258107,41690,Cermak-McCormick Place,11/30/2020,W,373,41690.0,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),"(41.853115, -87.626402)",True,...,False,True,False,False,False,False,False,False,41.853115,-87.626402
258108,41700,Washington/Wabash,11/30/2020,W,2041,41700.0,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",True,...,False,True,True,False,True,False,True,True,41.883220,-87.626189

In [26]:
df['south_side'] = df['latitude'] < 41.881

In [28]:
df.south_side

0         False
1         False
2          True
3         False
4          True
          ...
258104    False
258105    False
258106    False
258107     True
258108    False
Name: south_side, Length: 258109, dtype: bool

In [29]:
df

,station_id,stationname,date,daytype,rides,MAP_ID,STATION_NAME,STATION_DESCRIPTIVE_NAME,Location,ADA,...,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude,south_side
0,40050,Davis,1/1/2016,U,1415,40050.0,Davis,Davis (Purple Line),"(42.04771, -87.683543)",True,...,False,False,True,True,False,False,False,42.047710,-87.683543,False
1,41200,Argyle,1/1/2016,U,1741,41200.0,Argyle,Argyle (Red Line),"(41.973453, -87.65853)",False,...,False,False,False,False,False,False,False,41.973453,-87.658530,False
2,40970,Cicero-Forest Park,1/1/2016,U,722,40970.0,Cicero,Cicero (Blue Line),"(41.871574, -87.745154)",False,...,False,False,False,False,False,False,False,41.871574,-87.745154,True
3,40490,Grand/Milwaukee,1/1/2016,U,1700,40490.0,Grand,Grand (Blue Line),"(41.891189, -87.647578)",False,...,False,False,False,False,False,False,False,41.891189,-87.647578,False
4,41130,Halsted-Orange,1/1/2016,U,764,41130.0,Halsted,Halsted (Orange Line),"(41.84678, -87.648088)",True,...,False,False,False,False,False,False,True,41.846780,-87.648088,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258104,41660,Lake/State,11/30/2020,W,2945,41660.0,Lake,Lake (Red Line),"(41.884809, -87.627813)",True,...,False,False,False,False,False,False,False,41.884809,-87.627813,False
258105,41670,Conservatory,11/30/2020,W,412,41670.0,Conservatory,Conservatory (Green Line),"(41.884904, -87.716523)",True,...,True,False,False,False,False,False,False,41.884904,-87.716523,False
258106,41680,Oakton-Skokie,11/30/2020,W,191,41680.0,Oakton-Skokie,Oakton-Skokie (Yellow Line),"(42.02624348, -87.74722084)",True,...,False,False,False,False,True,False,False,42.026243,-87.747221,False
258107,41690,Cermak-McCormick Place,11/30/2020,W,373,41690.0,Cermak-McCormick Place,Cermak-McCormick Place (Green Line),"(41.853115, -87.626402)",True,...,True,False,False,False,False,False,False,41.853115,-87.626402,True
258108,41700,Washington/Wabash,11/30/2020,W,2041,41700.0,Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...","(41.88322, -87.626189)",True,...,True,True,False,True,False,True,True,41.883220,-87.626189,False

In [31]:
rides = df['rides'].groupby(df['south_side']).sum()
rides

south_side
False    532419304
True     275328019
Name: rides, dtype: int64

In [ ]:
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/cta_db")
l_stations_df.to_sql(name='stations', con=engine, index=False)
ridership_df.to_sql(name='ridership', con=engine, index=False)