In [16]:
import pandas as pd
import re

dracula_df = pd.read_csv('/Users/fathi/Downloads/dracula.txt', sep='\n', header=None)
dracula_df.columns = ['text']

p = "^.*vampire.*$"
dracula_df[dracula_df['text'].str.contains(p)]

                                                    text
254    either were-wolf or vampire. (_Mem._, I must a...
5555   there from a vampire. These things do occur, y...
5743   his arm to designate what to a vampire was "ho...
6371        his instinct is satisfied as to the vampi...
6682   stronger, have yet more power to work evil. Th...
6732   limitations of the vampire in general, and of ...
8336   vampire in the end, then she shall not go into...
8337   land alone. I suppose it is thus that in old t...
10391          fresh horror of that ruddy vampire sleep.

In [7]:

dracula_df

                                                    text
0                                                DRACULA
1                                                DRACULA
2                                                   _by_
3                                            Bram Stoker
4                               [Illustration: colophon]
...                                                  ...
10618  proofs of so wild a story. Van Helsing summed ...
10619                             our boy on his knee:--
10620  We want no proofs; we ask none to believe us! ...
10621                                   JONATHAN HARKER.
10622                                            THE END

[10623 rows x 1 columns]